# Environments
.env
.env.*
!.env.example

# Test binary, built with `go test -c`
*.test

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea